<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
<h2>User info</h2>
<p><%= image_tag user.get_profile_image %></p>
  <p>name：<%= user.name %></p>
  <p>introduction：<%= user.introduction %></p>
<div class="row">
<p><%= link_to "プロフ編集",edit_user_path, class: "btn btn-outline-secondary btn-block" %></p>
     </div>
    </div>
  </div>
 </div>
</div>