
      <h2>User info</h2>
       <p><%= image_tag user.get_profile_image %></p>
      <table class="table">
      <tbody>
        <tr>
      <th>name</th>
      <th><%= user.name %></th>
        </tr>
        <tr>
      <th>introductio</th>
      <th><%= user.introduction %></th>
        </tr>
      </tbody>
    </table>
        <p>
          <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
           <i class="fas fa-user-cog"></i>
          <% end %>
        </p>
