<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
  <h1>"welcome to
  <strong>Bookers</strong>
  "!!"
  </h1>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>
  <p>
  <th><%= link_to "Log in",new_user_session_path %></th>
  </p>
  <th><%= link_to "Sign up",new_user_registration_path %></th>

</div>